spyder==5.5.0
numpy==1.24.1
openpyxl==3.1.2
pandas==2.1.4
transformers==4.37.1
accelerate==0.25.0
datasets==2.15.0
ms-entropy==1.1.1
scipy==1.11.4
tqdm==4.66.1
scikit-learn==1.3.2
lion-pytorch==0.1.2
matplotlib==3.8.2
